<mat-nav-list class="sidenav-list">
    <a mat-list-item routerLink="/login" (click)="onToggleClose()">
      
      <span>Inicio</span>
    </a>
    <a mat-list-item routerLink="/signup" (click)="onToggleClose()">
      
      <span>Mi Perfil</span>
    </a>
    <a mat-list-item routerLink="/accomodation" (click)="onToggleClose()">
      
      <span>Gestion de datos</span>
    </a>
    <a mat-list-item routerLink="/offers" (click)="onToggleClose()">
      
      <span>Herramienta de Analisís</span>
    </a>
    <a mat-list-item routerLink="/offers" (click)="onToggleClose()">
      
      <span>Ayuda</span>
    </a>
    <a mat-list-item routerLink="/offers" (click)="onToggleClose()">
    
      <span>Cerrar sesión</span>
    </a>
  </mat-nav-list>
